/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.input-task {
  outline: none;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-tasks__wrapper {
  display: flex;
  margin-top: 20px;
}
.incomplete-tasks,
.completed-tasks {
  margin: 0;
  padding: 0px;
}
/*.tasks-line,*/ 
.title-item {
  list-style: none;
}
.incomplete-tasks__line,
.completed-tasks__line {
  list-style: none;
}
.button-edit,
.button-delete {
  outline: none;
}
.button-edit,
.button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button-edit:hover,
.button-delete:hover {
  color: #3a3a3a;
}
/* Heading */
.title-item {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-task[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-input[type="text"]:focus {
  color: #333;
}
.incomplete-tasks__line,
.completed-tasks__line {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* New Task */
.add-tasks__new-task {
  outline: none;
  display: inline-block;
  flex-grow: 1;
  width: 318px;
}
.add-tasks__new-task[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.add-tasks__new-task[type="text"]:focus {
  color: #333;
}

.add-tasks__button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.add-tasks__button:hover {
  color: #3a3a3a;
}
.incomplete-tasks__line > * ,
.completed-tasks__line  > * {
  vertical-align: middle;
}
.incomplete-tasks__checkbox[type="checkbox"],
.completed-tasks__checkbox[type="checkbox"] {
  margin: 0 10px;
}
.label-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.input-task[type="text"] {
  width: 226px;
}
.button-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .label-task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input-task[type=text] {
  display: none;
}
.incomplete-tasks__line_edit-mode .input-task[type=text] {
  display: inline-block;
  width: 224px;
}
.incomplete-tasks__line_edit-mode .label-task {
  display: none;
}

